.instrumentsSummaryContainer {
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin: 0 auto;
    width: 700px;

    @media only screen and (max-width: 426px) {
        width: 100%;
    }
}