@import '../primary_theme.scss';

.relationshipsSummaryContainer {
    width: 700px;
    margin: 20px auto;

    p {
        width: 500px;
        margin: 0 auto;

        
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }

    .businessTypesEntities {
        margin: 20px auto;
        padding: 10px;
        font-size: 16px;
        border: 3px solid $glue-primary-darker;
        border-radius: 5px;
        color: $glue-grey;

        h3 {
            text-align: center;
        }        

        strong {
            color: $glue-primary;
        }
    }
    
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

h2 {
    text-align: center;
}

.imgContainer, .additionalInformation {
    max-width: 700px;
    margin: 20px auto;
}

.tableList {
    width: 300px;
    margin: 15px auto;
    padding: 20px;
    text-align: center;

    border: 3px solid $glue-grey;

    .tableName {
        list-style-type: none;
        margin-top: 5px;

        a {
            text-decoration: underline;
        }
    }
}