$primary-background: #0086bf;
$finos-background: #0033A0;

$glue-primary: #3578e5;
$glue-primary-dark: #1d68e1;
$glue-primary-darker: #1b62d4;
$glue-primary-darkest: #1751af;
$glue-primary-light: #4e89e8;
$glue-primary-lighter: #5a91ea;
$glue-primary-lightest: #80aaef;
$glue-white: #fff;
$glue-grey: #aaa;
$glue-grey-light: #ddd;
$glue-grey-dark: #777;